h1 {
    text-align: center;
}

.tile {
    display: flex;
    flex-direction: row;
}

.right-side {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 30px;
    margin-left: 50px;
}

.traits ul li {
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}

.traits h2 {
    margin-left: 50px;
}

.about {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

button {
    font-size: 1.1rem;
    padding: 20px;
    display: block;
    margin: auto;
}

.shelters {
    margin-left: 50px;
}

.shelters ul li {
    font-size: 1.1rem;
    list-style-type: none;
    margin-left: 10px;
}

.shelters ul li a {
    color: var(--color-primary);
}